<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.todotalk.project.auth.mapper.AuthMapper">

	<select id="checkUser" resultType="int">
	  SELECT COUNT(*)
		FROM USERS 
	   WHERE LOGIN_ID = #{userId}
		 AND LOGIN_PW = #{password}
	</select>
	
	<insert id="createAccount" parameterType="UsersVo">
		INSERT INTO USERS (
			   USER_ID
			 , LOGIN_ID
			 , LOGIN_PW
			 , REAL_NAME
			 , EMPLOYEE_NO
			 , LOGIN_TIME
			 , AUTH_ROLE
		) VALUES(
			  #{user.userId}
			, #{user.loginId}
			, #{user.loginPw}
			, #{user.realName}
			, #{user.employeeNo}
			, NOW()
			, #{user.authRole}
		)
	</insert>
	
	
</mapper>
