<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<!--begin::Head-->
	<head>
		<title>프로젝트</title>
		<meta charset="utf-8" />
		<link rel="shortcut icon" href="media/logos/TodoTalk_latest_Simbol.svg" />
		<link href="/css/datatables.bundle.css" rel="stylesheet" type="text/css" />
		<link href="/css/plugins.bundle.css" rel="stylesheet" type="text/css" />
		<link href="/css/style.bundle.css" rel="stylesheet" type="text/css" />
	</head>
	<!--end::Head-->
	<!--begin::Body-->
	<body id="kt_body" class="header-fixed header-tablet-and-mobile-fixed  aside-enabled aside-fixed" style="--kt-toolbar-height:55px;--kt-toolbar-height-tablet-and-mobile:55px">
		<!--begin::Main-->
		<!--begin::Root-->
		<div class="d-flex flex-column flex-root">
			<!--begin::Page-->
			<div class="page d-flex flex-row flex-column-fluid">
				<!--begin::Aside-->
				<div th:replace="common/aside-light.html :: aside-light"></div>
				<!--begin::Wrapper-->
				<div class="wrapper d-flex flex-column flex-row-fluid" id="kt_wrapper">
					<div th:replace="common/top-menu.html :: top-menu"></div>
					<!--begin::Content-->
					<div class="content d-flex flex-column flex-column-fluid" id="kt_content">
						<!--begin::Post-->
						<div class="post d-flex flex-column-fluid" id="kt_post">
							<!--begin::Container-->
							<div id="kt_content_container" class="container-xxl" style="max-width:1600px">
								<!--begin::Navbar-->
								<div class="card mb-6 mb-xl-9">
									<div class="card-body pt-9 pb-0">
										<h1>test</h1>
									</div>
								</div>
								<!--end::Navbar-->
							</div>
							<!--end::Container-->
						</div>
						<!--end::Post-->
					</div>
					<!--end::Content-->
					<!--begin::Footer-->
					<div th:replace="common/footer.html :: footer"></div>
				</div>
				<!--end::Wrapper-->
			</div>
			<!--end::Page-->
		</div>
		<!--begin::Javascript-->
		<script src="/js/plugins.bundle.js"></script>
		<script src="/js/scripts.bundle.js"></script>
		<script src="/js/project/project-view-detail.js"></script>
		<script src="/js/project/project.js"></script>
		<script src="/js/widgets.bundle.js"></script>
		<script src="/js/widgets.js"></script>
		<script src="/js/datatables.bundle.js"></script>
		<script src="/js/modals/create-app.js"></script>
		<script src="/js/modals/new-target.js"></script>
		<script src="/js/modals/upgrade-plan.js"></script>
		<script src="/js/modals/users-search.js"></script>
		<!--end::Javascript-->
	</body>
	<!--end::Body-->
</html>