<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.todotalk.project.project.mapper.ProjectMapper">

	<resultMap id="UserPayload" type="UserPayloadVo">
		<association property="user" javaType="UsersVo">
			<result property="userId" column="userId"/>
			<result property="loginId" column="loginId"/>
			<result property="loginPw" column="loginPw"/>
			<result property="realName" column="realName"/>
			<result property="employeeNo" column="employeeNo"/>
			<result property="loginTime" column="loginTime"/>
			<result property="authRole" column="authRole"/>
		</association>
		<association property="userPro" javaType="UserProfilesVo">
			<result property="userProfilesId" column="userProfilesId"/>
			<result property="userId" column="userId"/>
			<result property="position" column="position"/>
			<result property="officePhone" column="officePhone"/>
			<result property="mobilePhone" column="mobilePhone"/>
			<result property="address" column="address"/>
			<result property="gender" column="gender"/>
			<result property="birthDate" column="birthDate"/>
			<result property="hireDate" column="hireDate"/>
			<result property="status" column="status"/>
			<result property="statusUpdateDate" column="statusUpdateDate"/>
		</association>
		<association property="team" javaType="TeamsVo">
			<result property="teamId" column="teamId"/>
		    <result property="teamCode" column="teamCode"/>
		    <result property="teamName" column="teamName"/>
		    <result property="teamDescription" column="teamDescription"/>
		    <result property="departmentId" column="departmentId"/>
		</association>
		<association property="department" javaType="DepartmentsVo">
			<result property="departmentId" column="departmentId"/>
		    <result property="departmentCode" column="departmentCode"/>
		    <result property="departmentName" column="departmentName"/>
		    <result property="departmentDescription" column="departmentDescription"/>
		</association>
	</resultMap>
	<resultMap id="findMembers" type="UserPayloadVo">
		<association property="user" javaType="UsersVo">
			<id  property="userId" column="userId"/>
			<result property="realName" column="realName"/>
			<result property="employeeNo" column="employeeNo"/>
		</association>
		<association property="userPro" javaType="UserProfilesVo">
			<result property="position" column="position"/>
		</association>
		<association property="team" javaType="TeamsVo">
			<result property="teamId" column="teamId"/>
		    <result property="teamName" column="teamName"/>
		</association>
		<association property="department" javaType="DepartmentsVo">
			<result property="departmentId" column="departmentId"/>
		    <result property="departmentName" column="departmentName"/>
		</association>
	</resultMap>

	<!-- 프로젝트 정보 매핑 -->
  <resultMap id="ProjectDetailResultMap" type="ProjectPayloadVo">
	    <association property="project" javaType="ProjectsVo">
	      <result property="projectId" column="projectId"/>
	      <result property="projectName" column="projectName"/>
	      <result property="projectStartDate" column="projectStartDate"/>
	      <result property="projectEndDate" column="projectEndDate"/>
	      <result property="projectStatus" column="projectStatus"/>
	      <result property="createdBy" column="createdBy"/>
	      <result property="createdAt" column="createdAt"/>
	      <result property="updatedBy" column="updatedBy"/>
	    </association>
	    <association property="member" javaType="ProjectMembersVo">
	      <result property="userId" column="userId"/>
	      <result property="isPm" column="isPm"/>
	      <result property="departmentId" column="departmentId"/>
	      <result property="teamId" column="teamId"/>
	    </association>
	    <association property="user" javaType="UsersVo">
			<result property="createdByName" column="createdByName"/>
			<result property="realName" column="realName"/>
			<result property="employeeNo" column="employeeNo"/>
		</association>
		<association property="team" javaType="TeamsVo">
		    <result property="teamName" column="teamName"/>
		</association>
		<association property="department" javaType="DepartmentsVo">
		    <result property="departmentName" column="departmentName"/>
		</association>
  </resultMap>


    <select id="selectProject" resultType="ProjectsVo">
       SELECT PROJECT_ID			as projectId		
			, PROJECT_NAME          as projectName      
			, PROJECT_START_DATE    as projectStartDate 
			, PROJECT_END_DATE      as projectEndDate   
			, PROJECT_STATUS        as projectStatus    
			, u.REAL_NAME           as createdBy        
			, CREATED_AT            as createdAt        
			, UPDATED_BY            as updatedBy        
			, UPDATED_AT            as updatedAt        
		 FROM PROJECTS prj
		 JOIN USERS u ON u.USER_ID = prj.CREATED_BY
		 ORDER BY CREATED_AT,PROJECT_START_DATE,PROJECT_END_DATE
    </select>
    
    <select id="findMembers"  resultMap="findMembers">
	    SELECT u.REAL_NAME 			as realName
			 , u.USER_ID			as userId
			 , u.EMPLOYEE_NO        as employeeNo
			 , up.`POSITION`        as position
			 , d.DEPARTMENT_ID    	as departmentId
			 , d.DEPARTMENT_NAME    as departmentName
			 , t.TEAM_ID          	as teamId
			 , t.TEAM_NAME          as teamName
		FROM USERS u 
		JOIN USER_PROFILES up 	on u.USER_ID 		= up.USER_ID 
		JOIN USER_ORGS uo 		on u.USER_ID 		= uo.USER_ID
		JOIN DEPARTMENTS d 		on d.DEPARTMENT_ID 	= uo.DEPARTMENT_ID 
		JOIN TEAMS t 			on t.TEAM_ID  		= uo.TEAM_ID
		WHERE STATUS = 01
    </select>
    
    <select id="projectDetail" resultMap="ProjectDetailResultMap">
	    SELECT pro.PROJECT_ID				as projectId
			 , pro.PROJECT_NAME             as projectName
			 , pro.PROJECT_START_DATE       as projectStartDate
			 , pro.PROJECT_END_DATE         as projectEndDate
			 , pro.PROJECT_STATUS           as projectStatus
			 , pro.CREATED_BY               as createdBy
			 , usr.REAL_NAME                as createdByName
			 , pro.CREATED_AT               as createdAt
			 , pro.UPDATED_BY               as updatedBy
			 , mem.USER_ID                  as userId
			 , u.REAL_NAME                  as realName
			 , mem.IS_PM                    as isPm
			 , mem.DEPARTMENT_ID            as departmentId
			 , d.DEPARTMENT_NAME            as departmentName
			 , mem.TEAM_ID                  as teamId
			 , t.TEAM_NAME                  as teamName
		FROM PROJECTS pro
		LEFT JOIN PROJECT_MEMBERS mem 	on mem.PROJECT_ID = pro.PROJECT_ID 
		LEFT JOIN USERS usr 			on pro.CREATED_BY = usr.USER_ID 
		LEFT JOIN USERS u 				on mem.USER_ID  = u.USER_ID
		LEFT JOIN DEPARTMENTS d 		on mem.DEPARTMENT_ID = d.DEPARTMENT_ID
		LEFT JOIN TEAMS t 				on mem.TEAM_ID = t.TEAM_ID
		LEFT JOIN USER_PROFILES prf		on usr.USER_ID = prf.USER_ID
		WHERE pro.PROJECT_ID = #{projectId}
    </select>
    
    <insert id="createProject" parameterType="ProjectsVo">
    	INSERT INTO PROJECTS (
			   PROJECT_ID
			 , PROJECT_NAME
			 , PROJECT_START_DATE
			 , PROJECT_END_DATE
			 , PROJECT_STATUS
			 , CREATED_BY
			 , CREATED_AT
			 , UPDATED_BY
			 , UPDATED_AT
		) VALUES(
			   #{prjVo.projectId}
			 , #{prjVo.projectName}
			 , #{prjVo.projectStartDate}
			 , #{prjVo.projectEndDate}
			 , #{prjVo.projectStatus}
			 , #{prjVo.createdBy}
			 , NOW()
			 , #{prjVo.updatedBy}
			 , NOW()
		)
    </insert>
    
    <insert id="addProjectMember" parameterType="ProjectMembersVo">
    	INSERT INTO PROJECT_MEMBERS (
			   PROJECT_MEMBER_ID
			 , PROJECT_ID
			 , USER_ID
			 , DEPARTMENT_ID
			 , TEAM_ID
			 , IS_PM
			 , JOINED_AT
			 , ENDED_AT
		) VALUES(
			   #{prjMem.projectMemberId}
			 , #{prjMem.projectId}
			 , #{prjMem.userId}
			 , #{prjMem.departmentId}
			 , #{prjMem.teamId}
			 , #{prjMem.isPm}
			 , NOW()
			 , #{prjMem.endedAt}
		)
    </insert>
    
    <delete id = "deleteProjectMem">
    	DELETE FROM PROJECT_MEMBERS 
    	WHERE PROJECT_ID  = #{projectId};
    </delete>
    
    <delete id = "deleteProject">
    	DELETE FROM PROJECTS 
    	WHERE PROJECT_ID  = #{projectId};
    </delete>

</mapper>
